<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="api">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="api.php?key={R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="UserAppeal" patternSyntax="ExactMatch">
                    <match url="userappeal" />
                    <action type="Rewrite" url="FR_User_Appeal.php" />
                </rule>
                <rule name="Student_1" patternSyntax="ExactMatch">
                      <match url="test" />
                      <action type="Rewrite" url="FR_TestSelection.php" />
                </rule>
				<rule name="Student_2" patternSyntax="ExactMatch">
                      <match url="quiz" />
                      <action type="Rewrite" url="FR_StuQuiz.php" />
                </rule>
				<rule name="Student_3" patternSyntax="ExactMatch">
                      <match url="stu_submission" />
                      <action type="Rewrite" url="FR_StuSubmission.php" />
                </rule>
				<rule name="WebConfig" patternSyntax="ExactMatch">
                      <match url="settings" />
                      <action type="Rewrite" url="FR_Settings.php" />
                </rule>
				
				<rule name="Teacher_1" patternSyntax="ExactMatch">
                      <match url="stats" />
                      <action type="Rewrite" url="FR_ScoreStats.php" />
                </rule>
				<rule name="Admin_1" patternSyntax="ExactMatch">
                      <match url="panel" />
                      <action type="Rewrite" url="FR_Admins.php" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
